#heroImage{
    height: 100vh;
    width:100vw;
    background-image: url("../WebsiteMaterial/images/aboutus.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heroContent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 30px;
    padding-top: 130px;
}
.heroContent h1{
    font-weight: bold;
    font-size: 120px;
}
.heroContent p{
    font-size: 20px;
}
.About{
    display: flex;
    margin-bottom: 20px;
}
/* About Page */
.aboutContent{
    font-size: 18px;
    margin-top:50px;
    font-family: calibri;
    width: 60vw;
    margin-left:5%;
    margin-right:auto;
    /* text-align: center; */
}
.aboutContent h1{
    color: #001747;
    font-weight: bold;
}
.Directors{
    margin-top:70px;
    margin-bottom:70px;
    width: 100vw;
}
#suntexDiv{
    margin-top: 65px;
    margin-left: 5%
}
#suntex{    
    height: auto;
    width: 90%;
}
.director_1{
    background-color: rgba(240, 240, 240, 0.8);
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin-left:100px; */
}
#owner{
    border-radius: 50%;
    height:250px;
    width:250px;
}
.director_1 img{
    margin-left:100px;
}
.about_paraa{
    text-align: left;
}
.director_2 img{
    margin-right:100px;
}
.director_2{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.aboutDirector {
    padding-left:100px;
    padding-right:100px;
}
.aboutDirector p:nth-child(1){
    font-size: 23px;
    color:#001747;
    font-weight: 600;
}
.aboutDirector p:nth-child(2){
    font-size: 30px;
}
.aboutDirector p:nth-child(3){
    font-size: 20px;
    color: #555555;
}
.Directors img{
    box-shadow: -12px 12px #d9dffb;
}

.indefatigableTeam{
    background-color: rgba(240, 240, 240, 0.8);
    text-align: center;
}
.indefatigableTeam h1{
    color: #001747;
    padding-top:20px;
}
.indefatigableTeamContainer{
    height:50vh;
    width: 100vw;
    display:flex;
    justify-content: space-evenly;
}
.cardDivision i{
    font-size: 50px;
}
.rotate{
    transform: rotateY(180deg);
    transform: rotateZ(57deg);
}
.cardContainer{
    margin-top:30px;
}
.cardDivision{
    width: 220px;
    height: 210px;
    background-color: white;
    border-radius: 10px;
}
.cardDivision p:nth-child(1){
    font-size: 25px;
    color: #dd241f;
    font-weight: 600;
    padding-top: 30px;
}
.cardDivision p:nth-child(2){
    font-size: 23px;
    color:#001747;
    font-weight: 600;
    margin-top: -15px;
}

.lateSection {
    margin-top:100px;
    margin-bottom:100px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.lateSection div{
    width: 50vw;
    font-size:18px
}
.lateSection div p:nth-child(1){
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    .indefatigableTeamContainer{
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }
    .About{
        flex-direction: column-reverse;
        align-items: center;
    }
    .Directors img {
        width: 90vw;
        height: auto;
    }
    .lateSection img{
        height: 100px;
    }
    .director_1{
        flex-direction: column;
    }
    .director_2{
        flex-direction: column-reverse;
    }
    .director_1, .director_2{
        height: auto;
    }
    .aboutDirector {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* .director_1 img{
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .director_2 img{
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    } */
    .aboutContent{
        width: 80vw;
    }
    .lateSection {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #owner{
        margin-bottom: 20px;
    }
    .lateSection div{
        width: 65vw;
        font-size:18px
    }
    .heroContent h1{
        font-size: 60px;
    }
    #suntexDiv{
        margin-left:0;
    }
}