#product_starting{
    padding-top: 100px;
    width: 100vw;
    height: auto;
}
.askQuery{
    background-color: white;
    width: 35vw;
    height: 70vh;
    position: sticky;
    top: 28vh;
    padding: 40px;
    margin-bottom: 45px;
    box-shadow: 0 0 3px 1px rgba(190, 190, 190, 0.8)
}
.prices{
    font-size: 20px;
    font-weight: 500;
    color: #da261f;
}
.askQueryButton{
    height:40px;
    width:130px;
    color: white;
    background-color: #0c1027;
    border-radius: 20px;
    border:none;
    font-weight: 550;
    transition-duration: 0.5s;
    margin-bottom: 15px;

}
.askQueryButton:hover{
    cursor:pointer;
    background-color: #da261f;
}
.askQuery ul{
    font-weight: 500;
}
.productContainer{
    padding-top:80px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f1f1f1;
}
.products-info{
    display: flex;
    flex-direction: column;
    margin:25px 0;
    width: 50vw;

    justify-content: space-evenly;
    padding-bottom: 20px;
}
.product {
    display: flex;
    justify-content: space-around;
    margin-top:70px;
    background-color: white;
    box-shadow: 0 0 3px 1px rgba(190, 190, 190, 0.8)
}
.product>div{
    margin-left: 40px;

}
.product>div .product img{
    height: 150px;
    width: 150px;
}
.product div p{
    font-family: calibri;
}
/* .product div p:nth-child(1){
    font-size: 13px;
    color: gray;
} */
.product div p:nth-child(1){
    margin-top:10px;
    font-size: 25px;
    font-weight: bold;
}
.product div p:nth-child(2){
    color: grey;
    font-weight: bold;
    
}
.product div p:nth-child(4){
    
}
.product div p:nth-child(5){
    display: inline;
}
.product div p:nth-child(6){
    margin-top:16px;
}
.product div p>i{
    margin-right:5px;
}
.changeWireThickness i{
    margin-left:5px;
}
.specificationsValue{
    font-weight: bold;
}
.changeWireThickness{
    border: none;
    background-color: #f5f5f6;
}
.modal-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    background-color: #f1f1f1;
}
.modalOptions{
    background-color: #f5f5f6;
    display: inline-block;
    text-align: center;
    padding: 10px 0px;
    height:50px;
    width:50px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border: 4px solid #dd241f;
}
table{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}
table td, table tr, table th{
    border: 1px solid black;
}
@media(max-width:956px){
    table{
        width: 170px;
    }
    .products-info{
        position: relative;
        width: 90vw;
    }
    .product{
        font-size: 15px;
        height: auto;
        align-items: center;
    }
    .product img{
        width: 115px;
        height: 115px;
    }
    .productContainer{
        flex-direction: column;
        align-items: center;

    }
    .askQuery{
        position: static;
        width: 100vw;
        height: auto;
    }
    
}