.askQuery{
    width: 35vw;
    height: 80vh;
    position: sticky;
    top: 100px;
    margin-left:50px;
    background-color: bisque;
}
.productContainer{
    padding-top:80px;
    display: flex;
}
.products-info{
    display: flex;
    flex-direction: column;
    margin:25px 0;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.product {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin-left: 100px;
    margin-top:70px;
    background-color: hsla(0,0%,100%,.8);
    box-shadow: 0 0 3px 1px rgba(190, 190, 190, 0.8)
}
.product>div{
    margin-left: 40px;

}
.product>div .product img{
    height: 150px;
    width: 150px;
}
.product div p{
    font-family: calibri;
}
/* .product div p:nth-child(1){
    font-size: 13px;
    color: gray;
} */
.product div p:nth-child(1){
    margin-top:10px;
    font-size: 25px;
    font-weight: bold;
}
.product div p:nth-child(2){
    color: grey;
    font-weight: bold;
    
}
.product div p:nth-child(4){
    
}
.product div p:nth-child(5){
    display: inline;
}
.product div p:nth-child(6){
    margin-top:16px;
}
.product div p>i{
    margin-right:5px;
}
.changeWireThickness i{
    margin-left:5px;
}
.specificationsValue{
    font-weight: bold;
}
.changeWireThickness{
    border: none;
    background-color: #f5f5f6;
}
.modal-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    background-color: #f1f1f1;
}
.modalOptions{
    background-color: #f5f5f6;
    display: inline-block;
    text-align: center;
    padding: 10px 0px;
    height:50px;
    width:50px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border: 4px solid #dd241f;
}
table{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}
table td, table tr, table th{
    border: 1px solid black;
}
@media(max-width:1023px){
    .product{
        font-size: 15px;
        /* text-align: center; */
    }
    .products img{
        width: 115px;
    }
}